<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forgot password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hello, <span th:text="${user.firstname}"></span> <span th:text="${user.lastname}"></span>
        </p>
        <p>
        	For reset your password <a th:href="@{${resetPasswordUrl}(token=${user.token}, email=${user.email})}">Click here</a>
        </p>        
    </body>
</html>